<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add movie</title>
</head>
<body>
<form action="addmovie" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="name" placeholder="enter movie name"><br>
    <input type="text" name="description" placeholder="enter movie description"><br>
    <input type="number" name="year" placeholder="enter release year"><br>
    <input type="file" name='img'> <br>
    <input type="submit" >

</form>
</body>
</html>